@page
@model ZamApp.Pages.Courses.CreateModel
@{

}

@*<form method="post">
	<h3>Insert Values</h3>

	<div class="form-group">
		<label>Zealand Location:</label><input asp-for="@Model.Product.Name" class="form-control" placeholder="Name"/>
		<span asp-validation-for="Product.Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Description:</label><input asp-for="@Model.Product.Description" class="form-control" placeholder="Description" />
		<span asp-validation-for="Product.Description" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Price:</label><input asp-for="@Model.Product.Price" class="form-control" placeholder="Price" />
		<span asp-validation-for="Product.Price" class="text-danger"></span>
	</div>
	<div class="text-center">
		<input class="btn btn-primary" type="submit" value="Create Product" />
	</div>
</form>*@
